<!-- spinner -->
<!-- <div>
        <i id="fan" class="fas fa-fan"></i>
    </div> -->
<div style="display:flex;justify-content: center" class="in">


    <div class="container__hour">

        <p class="letter4 container__hour__timing">
            {{timingTime.hr}}:{{timingTime.min}}:{{timingTime.sec}}<span class="letter3">{{switcherDay}}</span>
        </p>


        <div class="container__poster" ng-hide="features.showposter == 1">
            <!-- <span class="fas fa-bell letter10"></span> -->
        </div>

    </div>

</div>